div.container {
	height: 100%;
}


div[data-role="response"] a[data-role="change"], 
div[data-role="response"] div[data-role="submit"] {
	cursor: pointer;
	padding-left: 0px;
	display: inline-block;
	padding-right: 0px;
	padding-bottom: 0px;
}

/*Check if these apply on different templates*/

div.informacion h2{
	padding-bottom: 20px;
}

div.informacion form label{
	text-transform: capitalize;
	width: 40%!important;
}

div.informacion form .form-group {
  margin-bottom: 5px;
}

div.informacion form .form-group input,
div.informacion form .form-group select{
	width: 100%;
}
div.informacion .alert-danger{
	margin: 20px 0 0 0;
}

div.informacion div[data-role="submit"]{
	margin: 20px 0;
}


div.description{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top:100px;
 /* position:absolute; /* absolute position (so we can position it where we want)*/  
  bottombottom:0px; /* position will be on bottom */  
  left:0px;  
/*   width:50%;   */
  /* styling bellow */  
  background-color:#F8F8F8;  
  font-family: 'tahoma';  
  font-size:15px;  
  color:#404040;  
  opacity:0.4; /* transparency */  
  filter:alpha(opacity=60); /* IE transparency */  
}  

.error{
width:70% !important;
}
.account_conf{
font-size: 32px;
}

div.continuar{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top:100px;
  position:absolute; /* absolute position (so we can position it where we want)*/  
  top:250px;
  left:0px;  
  width:50%;  
  /* styling bellow */  
  background-color:#F8F8F8;  
  font-family: 'tahoma';  
  font-size:15px;  
  color:#404040;  
  opacity:0.4; /* transparency */  
  filter:alpha(opacity=60); /* IE transparency */  
}

/*
#page {
  background-image:url('images/2.jpg'); 
  background-repeat:no-repeat; 
  background-position: center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
height: 100%;
position:relative;
}
*/

div.body-content{
	    position: relative;
    clear: both;
    height: calc(100% - 100px);
}
footer  {
	z-index: 10;
	clear:both;
	position:relative;
	color: white;
}

footer a:hover,
footer a{
	color:white;
}
footer div.container {
	color:#fff; font-size:11px; padding:0 0 20px 0!important;
}
footer #fb p:nth-child(1){
	display:inline-block; width:65%; padding-right:10px; vertical-align:middle;
}
footer #fb p:nth-child(2) {
	display:inline-block; width:30%;
}
footer #fb img{
	display:inline-block; 
	width:100%; 
	height:auto; 
	vertical-align:top;
	max-width: 25px;
}

footer > .container > div:not(:first-child) {
	border-left: 1px solid white;
	padding: 0 20px;
	text-align: left;
}

footer > .container > div:nth-child(3){
	width: 21%;
}

/*Defaults*/
.nopadding {
	padding: 0px;
}


.btn-medium{
	font-size: 20px!important;
}


a.btn-blue {
	color: white;
	font-size: 24px;
	font-weight: 200;
	background-color: #465664;
	padding-top: 5px;
	width: 100%;
	padding-bottom: 5px;
	display: inline-block;
	text-decoration: none;
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-position-x: 95%;
	background-size: 7px;
}
a.btn-pink-clear,
a.btn-blue-clear{
	display: inline-block;
	width: 100%;
	font-size: 24px;
	text-decoration: none;
	background-color: none!important;
	background-repeat: no-repeat;
	background-position: right center;
}

a.back{
	background-position: left center;
	background-image: url('images/blue-arrow-left.png')!important;

}


a.btn-pink-clear {
	color: #cc4b9b;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: underline;
	background-position-x: 92%;
	background-image: url('images/arrow-pink.png');
}

a.btn-blue-clear{
	color: #465664;
	clear:both;
	background-image: url('images/arrow-blue.png');
	background-size: 9px 15px;
	background-position-y: 40%;
	margin-right: 20px;
}

.spacing {
	letter-spacing: 1px;
    color: #465664;
}


#code-error{
	color: #cc4b9b;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 10px;
	clear:both;
}

div.inputs input[name="code"]{
	width:100%; 
	border:12px solid #465664; 
	background-color:#bec4c9; 
	color:#465664;
}
div.bg-gray{
	background-color: #e5e7e9;
	padding: 40px;
	margin-bottom: 175px;
}
	
div.bg-gray label{
	color: #465664;
}
div.bg-gray-transparent{
	background-color:rgba(229,231,233,0.4); 
	padding:40px; 
}

div.container > div.bg-gray-transparent:nth-child(1){
	margin-top: 50px;
}

div.container > div.bg-gray-transparent:nth-child(2){
	margin-bottom: 350px;
	margin-top: 10px;
}

.inspira-select {

}