div.container {
	height: 100%;
}
div[data-role="response"] a[data-role="change"], 
div[data-role="response"] div[data-role="submit"] {
	cursor: pointer;
	padding-left: 0px;
	display: inline-block;
	padding-right: 0px;
	padding-bottom: 0px;
}

/*Check if these apply on different templates*/

div.informacion h2{
	padding-bottom: 20px;
}

div.informacion form label{
	text-transform: capitalize;
	width: 40%!important;
}

div.informacion form .form-group {
  margin-bottom: 5px;
}

div.informacion form .form-group input,
div.informacion form .form-group select{
	width: 100%;
}
div.informacion .alert-danger{
	margin: 20px 0 0 0;
}

div.informacion div[data-role="submit"]{
	margin: 20px 0;
}


div.description{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top:100px;
  position:absolute; /* absolute position (so we can position it where we want)*/  
  bottombottom:0px; /* position will be on bottom */  
  left:0px;  
  width:50%;  
  /* styling bellow */  
  background-color:#F8F8F8;  
  font-family: 'tahoma';  
  font-size:15px;  
  color:#404040;  
  opacity:0.4; /* transparency */  
  filter:alpha(opacity=60); /* IE transparency */  
}  

.error{
width:70% !important;
}
.account_conf{
font-size: 32px;
}

div.continuar{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top:100px;
  position:absolute; /* absolute position (so we can position it where we want)*/  
  top:250px;
  left:0px;  
  width:50%;  
  /* styling bellow */  
  background-color:#F8F8F8;  
  font-family: 'tahoma';  
  font-size:15px;  
  color:#404040;  
  opacity:0.4; /* transparency */  
  filter:alpha(opacity=60); /* IE transparency */  
}

#page {
  background-image:url('images/2.jpg'); 
  background-repeat:no-repeat; background-position: center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
height: 100%;
position:relative;
}

div.body-content{
	    position: relative;
    clear: both;
    height: calc(100% - 100px);
}
footer  {
	z-index: 10;
	clear:both;
	position:relative;
}

footer a:hover{
	color:white;
}
footer div.container {
	color:#fff; font-size:11px; padding:0 0 20px 0!important;
}
footer #fb p:nth-child(1){
	display:inline-block; width:65%; padding-right:10px; vertical-align:middle;
}
footer #fb p:nth-child(2) {
	display:inline-block; width:30%; vertical-align:top;
}
footer #fb img{
	display:inline-block; width:100%; height:auto; vertical-align:top;
}
