.header{
    min-height: inherit;
    padding: 10px;
    position: fixed;
    z-index: 2;
    background-color:rgba(70,86,100,0.9)!important;
}


#map {
	background-color:#4e9cd4;
	padding: 60px 20px;
	color:white;
	display:block;
	background-image: url('images/map.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center center;
	font-size: 16px;
}

#map h2{
	padding: 40px 20px 20px 20px;
}

#destinations{
	color: #465663;
	background-color: #ebeced;
	padding-bottom: 40px;
	padding-top: 20px;
	font-size: 16px;
}

#destinations ul{
	display:table; 
	width:100%;
	margin-top: 10px;
}

#destinations li{
	display:table-cell;
	position:relative;
	text-align: center;
}
#destinations li span{
	position: absolute;
	top:50%;
	display:table-caption;
	width: 100%;
}
#destinations li a{
	color: white;
	text-transform: uppercase;
}

#destinations li img {
	width: 100%;
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0.8;
    filter: Alpha(opacity=80); /* IE8 and earlier */
}

#destinations li img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
		opacity: 1;
    filter: Alpha(opacity=100); /* IE8 and earlier */

}
#destinations h2,
#map h2{
	font-size: 22px;
}

footer {
	background-color: #465664;
}

/*
h1 {
	text-align: center;
	margin-bottom: 10px;
}

h1 a, h1 a:hover{
	color:transparent;
	background-image: url('../images/logo_inspira.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
*/

h1 img {
	width: 60%;
	max-width: 350px;
}


a:hover, a:visited {
	color: white;
}

.slider{
	text-transform: uppercase;
	font-weight: 200;
}

.input-group {
    width: 80%!important;
}

.slider h2{
	font-size:30px;
}

.btn-clear-white{
	border: 1px solid white; 
	color:white; 
	padding: 5px 20px;
	max-width: 230px; 
	width:100%;
	font-size: 14px;
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	background-position-x: 95%;
	background-size: 7px;
}



@media (max-width: 992px){

	#destinations li {
		display:list-item!important;
	}
	#destinations li a{
		font-size: 20px;
	}
}
@media (min-width: 1200px){
	.swiper-slide, .swiper-slide#slide-1, 
	.swiper-slide#slide-2, .swiper-slide#slide-3, 
	.swiper-slide#slide-4, .swiper-slide#slide-5{
		padding: 315px 40px 410px 40px!important;
	}
}
#option-1, #option-2{
	padding: 10px 40px 10px 60px;
    width: 100%;
    display: block;
    color: white!important;
    text-decoration: none!important;
	margin-bottom:15px;
    text-align: left;
    background-repeat: no-repeat, no-repeat;
	background-position: 10px center, calc(100% - 5px) center;
	background-size: 40px, 20px;
	font-size: 16px;
	vertical-align: middle;
	height: 55px;

}
#option-1{
	background-color: #a3cc3b;
	background-image: url('images/Calendario.png'), url('images/Flechas.png');
	line-height: 2.5!important;

}

#option-2{
	background-color: #529ad1;
	background-image: url('images/Sol.png'), url('images/Flechas.png');
}

#more-info{
	position: absolute;
    bottom: 50px;
    text-align: center;
    left: 0;
    right: 0;
}

#more-info img{
	width: 30px;
}